<html>
  <head>
    <title></title>
    <%= javascript_include_tag "cookies"%>
    <%= javascript_include_tag "jquery"%>
    <%= javascript_include_tag "jquery-1.10.2"%>
    <%= javascript_include_tag "jquery-ui"%>
    <%= stylesheet_link_tag "jquery-ui"%>

    <script>
      var roster_menu = "<%= @roster_menu %>";
      var nurses_menu = "<%= @nurses_menu %>";
      var users_menu = "<%= @users_menu %>";
      var settings_menu = "<%= @settings_menu %>";
      var extra_settings_menu = "<%= @extra_settings_menu %>";

      function loadRosterData(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        html = "<table>";
        <%  @roster_menu.in_groups_of(4).each do |row| %>
            html+="<tr>";
            <% row.each do |caption, image| %>
              <%  next if caption.nil? %>
              <%  next if image.nil? %>
              <% if caption.match(/Create Roster/i) %>
                html+="<td onclick='createRoster();'>";
              <% else %>
                html+="<td>";
              <% end %>
              html+='<%= image_tag("icons/#{image}", :class=>'icon') %>';
              html+="<br />"
              html+="<center><span class='caption'><%=  caption %></span></center"
              html+="</td>";
              html+="<td style='min-width:70px;'>";
              html+="</td>";
            <% end %>
            html+="</tr>";
            html+="<tr style='height: 4em;'>";
            html+="</tr>";
        <% end %>
          html += "</table>";
          inner_content.innerHTML=html;
      }

      function loadNursesData(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        html = "<table>";
        <%  @nurses_menu.in_groups_of(4).each do |row| %>
            html+="<tr>";
            <% row.each do |caption, image| %>
              <%  next if caption.nil? %>
              <%  next if image.nil? %>

              <% if caption.match(/New Nurse/i) %>
                html+="<td onclick='createNewNurse();'>";
              <% elsif caption.match(/Edit Nurse/i) %>
                html+="<td onclick='editNurseMenu();'>";
              <% elsif caption.match(/Import from CSV/i) %>
                html+="<td onclick='importFromCSVmenu();'>";
              <% elsif caption.match(/Delete Nurse/i) %>
                html+="<td onclick='deleteNurseMenu();'>";
              <% else %>
                html+="<td>";
              <% end %>
              
              html+='<%= image_tag("icons/#{image}", :class=>'icon') %>';
              html+="<br />"
              html+="<center><span class='caption'><%=  caption %></span></center"
              html+="</td>";
              html+="<td style='min-width:70px;'>";
              html+="</td>";
            <% end %>
            html+="</tr>";
            html+="<tr style='height: 4em;'>";
            html+="</tr>";
        <% end %>
          html += "</table>";
          inner_content.innerHTML=html;
      }

      function loadUsersData(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        html = "<table>";
        <%  @users_menu.in_groups_of(4).each do |row| %>
            html+="<tr>";
            <% row.each do |caption, image| %>
              <%  next if caption.nil? %>
              <%  next if image.nil? %>
              <% if caption.match(/New User/i) %>
                html+="<td onclick='createNewUser();'>";
              <% elsif caption.match(/Edit User/i) %>
                html+="<td onclick='editUserMenu();'>";
              <% elsif caption.match(/Delete User/i) %>
                html+="<td onclick='deleteUserMenu();'>";
              <% elsif caption.match(/Block User/i) %>
                html+="<td onclick='blockUserMenu();'>";
              <% else %>
                html+="<td>";
              <% end %>
              html+='<%= image_tag("icons/#{image}", :class=>'icon') %>';
              html+="<br />"
              html+="<center><span class='caption'><%=  caption %></span></center"
              html+="</td>";
              html+="<td style='min-width:70px;'>";
              html+="</td>";
            <% end %>
            html+="</tr>";
            html+="<tr style='height: 4em;'>";
            html+="</tr>";
        <% end %>
          html += "</table>";
          inner_content.innerHTML=html;
      }

      function loadSettingsData(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        html = "<table>";
        <%  @settings_menu.in_groups_of(4).each do |row| %>
            html+="<tr>";
            <% row.each do |caption, image| %>
              <%  next if caption.nil? %>
              <%  next if image.nil? %>
              <% if caption.match(/Extra Settings/i) %>
                html+="<td onclick='load_extra_settings_menu(this)'>";
              <% else %>
                html+="<td>";
              <% end %>
              
              html+='<%= image_tag("icons/#{image}", :class=>'icon') %>';
              html+="<br />"
              html+="<center><span class='caption'><%=  caption %></span></center"
              html+="</td>";
              html+="<td style='min-width:70px;'>";
              html+="</td>";
            <% end %>
            html+="</tr>";
            html+="<tr style='height: 4em;'>";
            html+="</tr>";
        <% end %>
          html += "</table>";
          inner_content.innerHTML=html;
      }

      function loadHomeData(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        inner_content.innerHTML="";
      }

      function load_extra_settings_menu(obj){
        //setActiveTab(obj);
        var inner_content = document.getElementById('inner_content');
        html = "<table>";
        <%  @extra_settings_menu.in_groups_of(4).each do |row| %>
            html+="<tr>";
            <% row.each do |caption, image| %>
              <%  next if caption.nil? %>
              <%  next if image.nil? %>
              html+="<td>";
              html+='<%= image_tag("icons/#{image}", :class=>'icon') %>';
              html+="<br />"
              html+="<center><span class='caption'><%=  caption %></span></center"
              html+="</td>";
              html+="<td style='min-width:70px;'>";
              html+="</td>";
            <% end %>
            html+="</tr>";
            html+="<tr style='height: 4em;'>";
            html+="</tr>";
        <% end %>
          html += "</table>";
          inner_content.innerHTML=html;
      }
      
      function setActiveTab(obj){
        class_name = obj.getAttribute("class");
        createCookie("active-tab", class_name, 1);
        active_tab = readCookie('active-tab');
        if (active_tab){
          element = document.getElementsByClassName(active_tab)[0];
          atab = document.getElementById('active_tab');
          if (atab){
            atab.removeAttribute('id');
          }
          element.setAttribute("id", 'active_tab');
        }

      }

      function loadActiveTab(){
        active_tab = readCookie('active-tab');
        if (active_tab){
          element = document.getElementsByClassName(active_tab)[0];
          load_function = element.getAttribute('onclick');
          
          atab = document.getElementById('active_tab');
          if (atab){
            atab.removeAttribute('id');
          }
          element.setAttribute("id", 'active_tab');
          eval(load_function);
        }

      }

      function createRoster(){
        var inner_content = document.getElementById('inner_content');
        document.getElementById('shield').style.display='inline';
        html = "<div id='create_roster_menu'>";
        
        html+= "<div id='create_roster_header'>";
        html+="<span style='position:absolute; top:4%; left:14%; top:30%;'>Create Roster</span>";
        html+="</div>";

        html+= "<div id='create_roster_content'>";
        html+="<table style='margin-left: 8%; margin-top: 1%; width:80%;'>"
        html+="<tr><td><span id='input_label'>Start Date</span></td><td><input type='text'  id='start_date' onmousedown='loadDatePicker();'></input></td></tr>";
        html+="<tr style='height:1em;'></tr>"
        html+="<tr><td><span id='input_label'>End Date</span></td><td><input type='text' id='end_date' onmousedown='loadDatePicker();'></input></td></tr>";
        html+="</table>"
        html+="</div>";
        
        html+= "<div id='create_roster_footer'>";
        html+="<span onclick='hideCreateRosterPopup();' id='cancel_button'>Cancel</span>";
        html+="</div>";
        
        html+="</div>";
        inner_content.innerHTML+=html
      }

      function hideCreateRosterPopup(){
        create_roster_menu = document.getElementById('create_roster_menu')
        create_roster_menu.parentNode.removeChild(create_roster_menu);
        document.getElementById('shield').style.display='none';
      }

      function hideCreateNursePopup(){
        create_nurse_menu = document.getElementById('create_nurse_menu')
        create_nurse_menu.parentNode.removeChild(create_nurse_menu);
        document.getElementById('shield').style.display='none';
      }

      function hideCreateCSVPopup(){
        create_csv_menu = document.getElementById('create_csv_menu')
        create_csv_menu.parentNode.removeChild(create_csv_menu);
        document.getElementById('shield').style.display='none';
      }

      function hideCreateUserPopup(){
        create_user_menu = document.getElementById('create_user_menu')
        create_user_menu.parentNode.removeChild(create_user_menu);
        document.getElementById('shield').style.display='none';
      }
      
      function loadDatePicker(){
        $( "#start_date" ).datepicker();
        $( "#end_date" ).datepicker();
      }
     function createNewNurse(){
        var inner_content = document.getElementById('inner_content');
        document.getElementById('shield').style.display='inline';
        html = "<form><div id='create_nurse_menu'>";
        
        html+= "<div id='create_nurse_header'>";
        html+="<span style='position:absolute; left:20%; top:32%;'>Create new nurse</span>";
        html+="</div>";

        html+= "<div id='create_nurse_content'>";
        html+="<table style='margin-left: 20%; margin-top: 8%; width:80%;'>";
        html+="<tr><td>Employee #</td><td><input type='text' id='employee_number' employee_number'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>First Name</td> <td><input type='text' id='first_name' name='first_name'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Last Name</td> <td><input type='text' id='last_name' name='last_name'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Gender</td><td><select id='gender'><option><%= '-' * 20 %>Please Select Gender<%= '-' * 20 %></option><option>Male</option><option>Female</option></select></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Grade</td><td><select id='grade'><option><%= '-' * 20 %>Please Select Grade<%= '-' * 20 %></option><option>A</option><option>B</option><option>C</option><option>D</option></select></td></tr>";
        html+="</table>"
        html+="</div>";

        html+= "<div id='create_nurse_footer'>";
        html+="<span id='save' onclick='submitNewNurseForm();'>Save</span> <span id='cancel' onclick='hideCreateNursePopup();'>Cancel</span>";
        html+="</div>";

        html+="</div></form>";
        inner_content.innerHTML+=html
     }

     function editNurseMenu(){
        var inner_content = document.getElementById('inner_content');
        html = "<div id='edit_nurse_menu'>";
        html+= "<div id='left_div'>";
        html+="<table style='position:absolute; width:100%; margin-left:1%;'>";
        html+="<tr><td style='width:40%;'><span><input onkeyup='searchNurses(this);' placeholder= 'Filter contacts' name='search' type='text' id='search_input'/><img onclick='document.getElementById(\"search_input\").value=\"\"' src='/images/icons/clear_02.png' id='clear_image'/></span></td></tr>"
        html+="</table>"
        html+="</div>";
        html+= "<div id='content_header'>";
        html+="<span>Edit nurse</span>";
        html+="</div>";
        html+="<div id='edit_nurse_content'>";
        html+="</div>";
        html+="<div style='display:none;' id='found_results_info'>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML=html
     }
     var value=setInterval('addEditNurseContent()', 500);
     function addEditNurseContent(){
       if (document.getElementById('edit_nurse_content')){
         edit_nurse_content = document.getElementById('edit_nurse_content');
         jQuery.ajax({
            type: "POST",
            url: "/nurses/display_all",
            data: "",
            success: function(result){
              html = "<div style='position:absolute; overflow:auto; height: 75%; top:15%; width: 40%;'>";
              html+="<table cellspacing='0' style='position:absolute; width:100%;'>"
              for (var nurse_id in result) {              
                  first_name = result[nurse_id]["first_name"]
                  last_name = result[nurse_id]["last_name"]
                  html+="<tr onmousedown='setActiveRow(this);' onmouseover='changeBackgroundColor(this);' onmouseout='resetBackgroundColor(this);' class='table_row' style='height: 1em !important; border-bottom: 1px solid gray;'><td>"
                  html+="<img style='width:30%;' src='/images/icons/nurse_64.png'/></td>"
                  html+="<td><span>" + first_name + '</span></td><td><span> ' + last_name + "<span></td></tr>";                                                           
                }
                html += "</table></div>";
                edit_nurse_content.innerHTML= html;
              }
          });
         value=window.clearInterval(value);
       }
     }

     function changeBackgroundColor(obj){
      obj.style.backgroundColor='#F0FFFF'
     }

     function resetBackgroundColor(obj){
      obj.style.backgroundColor=''
     }

     function setActiveRow(obj){
      if (document.getElementById('active_row')){
        active_row = document.getElementById('active_row');
        active_row.removeAttribute("id");
      }
      obj.id="active_row";
     }

     function searchNurses(obj){
      if (document.getElementById('edit_nurse_content')){
         edit_nurse_content = document.getElementById('edit_nurse_content');
         names = []
         jQuery.ajax({
            type: "POST",
            url: "/nurses/search_nurses",
            data: "value=" + obj.value,
            success: function(result){
              html = "<div style='position:absolute; overflow:auto; height: 75%; top:15%; width: 40%;'>";
              html+="<table cellspacing='0' style='position:absolute; width:100%;'>"
              total_results = 0;
              for (var nurse_id in result) {
                    total_results+=1;
                    first_name = result[nurse_id]["first_name"]
                    last_name = result[nurse_id]["last_name"]
                    html+="<tr onmousedown='setActiveRow(this);' onmouseover='changeBackgroundColor(this);' onmouseout='resetBackgroundColor(this);' class='table_row' style='height: 1em !important; border-bottom: 1px solid gray;'><td>"
                    html+="<img style='width:30%;' src='/images/icons/nurse_64.png'/></td>"
                    html+="<td><span>" + first_name + '</span></td><td><span> ' + last_name + "<span></td></tr>";    
                }
                html += "</table></div>";
                edit_nurse_content.innerHTML= html;
                if (document.getElementById('found_results_info')){
                  contacts = (total_results == 1)?'contact':'contacts';
                  found_results_info = document.getElementById('found_results_info');
                  found_results_info.style.display='inline'
                  found_results_info.innerHTML="<span> Displaying " +  total_results + ' ' + contacts + "</span>"
                }
              }
          });
       }
     }
     
     function importFromCSVmenu(){
        var inner_content = document.getElementById('inner_content');
        document.getElementById('shield').style.display='inline';
        html = "<div id='create_csv_menu'>";

        html+= "<div id='create_csv_header'>";
        html+="<span style='position:absolute; top:4%; left:9%; top:30%;'>Upload CSV file</span>";
        html+="</div>";

        html+= "<div id='create_roster_content'>";
        html+="<div style='position: absolute; left:10%; width:80%; margin-top:7%;'><span>Browse file</span><input style='position:absolute; width:48%; left:25%;' id='uploadFile' placeholder='Choose File' disabled='disabled'/>"
        html+="<div class='fileUpload'><span onclick='getFile()'>Upload</span>"
        html+="<div style='height:0px !important; width:0px !important;' id='hide_me'><input id='upfile' type='file' onchange='sub(this);' /></div></div></div>"
        html+="</div>";

        html+= "<div id='create_roster_footer'>";
        html+="<span onclick='hideCreateCSVPopup();' id='cancel_button'>Cancel</span>";
        html+="</div>";

        html+="</div>";
        inner_content.innerHTML+=html;
     }

       function getFile(){
         document.getElementById("upfile").click();
        }

       function sub(obj){
          var file = obj.value;
          var fileName = file.split("\\");
          document.getElementById("uploadFile").value = fileName[fileName.length-1];
      }

      function createNewUser(){
        var inner_content = document.getElementById('inner_content');
        document.getElementById('shield').style.display='inline';
        html = "<form><div id='create_user_menu'>";

        html+= "<div id='create_user_header'>";
        html+="<span style='position:absolute; left:20%; top:36%;'>Create new user</span>";
        html+="</div>";

        html+= "<div id='create_user_content'>";
        html+="<table style='margin-left: 20%; margin-top: 8%; width:80%;'>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>First Name</td> <td><input type='text' name='first_name'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Last Name</td> <td><input type='text' name='last_name'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Username</td><td><input type='text' name='username'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Password</td><td><input type='password' name='password'/></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="<tr><td>Gender</td><td><select><option><%= '-' * 20 %>Please Select Gender<%= '-' * 20 %></option><option>Male</option><option>Female</option></select></td></tr>";
        html+="<tr style='height:1em;'></tr>";
        html+="</table>"
        html+="</div>";

        html+= "<div id='create_user_footer'>";
        html+="<span id='save_user'>Save</span> <span id='cancel_user' onclick='hideCreateUserPopup();'>Cancel</span>";
        html+="</div>";

        html+="</div></form>";
        inner_content.innerHTML+=html;
      }

     function editUserMenu(){
        var inner_content = document.getElementById('inner_content');
        html = "<div id='edit_user_menu'>";
        html+= "<div id='edit_left_div'>";
        html+="<table style='position:absolute; width:100%; margin-left:1%;'>";
        html+="<tr><td style='width:40%;'><span><input placeholder= 'Filter contacts' name='search' type='text' id='search_input'/><img onclick='document.getElementById(\"search_input\").value=\"\"' src='/images/icons/clear_02.png' id='clear_image'/></span></td></tr>"
        html+="</table>"
        html+="</div>";
        html+= "<div id='content_header'>";
        html+="<span>Edit user</span>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML=html;
     }

     
     function deleteUserMenu(){
        var inner_content = document.getElementById('inner_content');
        html = "<div id='edit_user_menu'>";
        html+= "<div id='edit_left_div'>";
        html+="<table style='position:absolute; width:100%; margin-left:1%;'>";
        html+="<tr><td style='width:40%;'><span><input placeholder= 'Filter contacts' name='search' type='text' id='search_input'/><img onclick='document.getElementById(\"search_input\").value=\"\"' src='/images/icons/clear_02.png' id='clear_image'/></span></td></tr>"
        html+="</table>"
        html+="</div>";
        html+= "<div id='content_header'>";
        html+="<span style='background-color:#E9967A'>Delete user</span>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML=html;
     }

     function blockUserMenu(){
        var inner_content = document.getElementById('inner_content');
        html = "<div id='edit_user_menu'>";
        html+= "<div id='edit_left_div'>";
        html+="<table style='position:absolute; width:100%; margin-left:1%;'>";
        html+="<tr><td style='width:40%;'><span><input placeholder= 'Filter contacts' name='search' type='text' id='search_input'/><img onclick='document.getElementById(\"search_input\").value=\"\"' src='/images/icons/clear_02.png' id='clear_image'/></span></td></tr>"
        html+="</table>"
        html+="</div>";
        html+= "<div id='content_header'>";
        html+="<span style='background-color:#CDCD00'>Block user</span>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML=html;
     }

     function deleteNurseMenu(){
        var inner_content = document.getElementById('inner_content');
        html = "<div id='edit_user_menu'>";
        html+= "<div id='edit_left_div'>";
        html+="<table style='position:absolute; width:100%; margin-left:1%;'>";
        html+="<tr><td style='width:40%;'><span><input placeholder= 'Filter contacts' name='search' type='text' id='search_input'/><img onclick='document.getElementById(\"search_input\").value=\"\"' src='/images/icons/clear_02.png' id='clear_image'/></span></td></tr>"
        html+="</table>"
        html+="</div>";
        html+= "<div id='content_header'>";
        html+="<span style='background-color:#E9967A'>Del. nurse</span>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML=html;
     }

     function submitNewNurseForm(){
      employee_number = document.getElementById('employee_number').value;
      first_name = document.getElementById('first_name').value;
      last_name = document.getElementById('last_name').value;
      gender = document.getElementById('gender').options[document.getElementById('gender').options.selectedIndex].value;
      grade = document.getElementById('grade').options[document.getElementById('grade').options.selectedIndex].value
      jQuery.ajax({
        type: "POST",
        url: "/nurses/create",
        data: "employee_number=" + employee_number + "&first_name=" + first_name + "&last_name=" + last_name + "&gender=" + gender + "&grade=" + grade,
        success: function(){
          resetFields();
          addAnotherNurseRecord();
        }

      });
     }

     function resetFields(){
        form_elements = document.getElementsByTagName('form')[0].elements;
        for(i=0; i<form_elements.length; i++){
            if (form_elements[i].type == "text"){
              form_elements[i].value = "";
            }
            if (form_elements[i].tagName == "SELECT"){
              form_elements[i].options.selectedIndex = 0;
            }
        }
     }

     function addAnotherNurseRecord(){

        var inner_content = document.getElementById('inner_content');
        if (document.getElementById('shield_two'))
          document.getElementById('shield_two').style.display='inline';
        else {
          div = document.createElement('div');
          div.id="shield_two";
          div.style.display='inline';
          $('body')[0].appendChild(div);
        }
        html = "<div id='nurse_confirm_menu'>";

        html+= "<div id='nurse_confirm_header'>";
        html+="<span style='position:absolute; top:23%; left:10%;'>Record succcessfully Added</span>";
        html+="</div>";

        html+="<div id='nurse_confirm_content'>";
        html+="<center><span>Do you want to add another <br />record?</span></center>";
        html+="</div>";
        html+="<div id='nurse_confirm_footer'>";
        html+="<span id='add_nurse' onclick='addNurseRecord();'>Add</span> <span id='exit' onclick='rejectAddNurseRecord();'>Exit</span>";
        html+="</div>";
        html+="</div>";
        inner_content.innerHTML+=html;
     }

     function addNurseRecord(){

        nurse_confirm_menu = document.getElementById('nurse_confirm_menu');
        nurse_confirm_menu.parentNode.removeChild(nurse_confirm_menu);

        shield_two = document.getElementById('shield_two');
        shield_two.parentNode.removeChild(shield_two);
     }

     function rejectAddNurseRecord(){
      window.location='/roster/content'
     }
     
    </script>
    <style>
      #content{

      }

      tr.table_row td {
        border-bottom:1pt solid black;
      }
      
      tr.table_row{
        cursor: pointer;
      }

      #active_row{
        background-color: #6495ED !important;
      }

      #found_results_info{
        position: absolute;
        background-color: #2F4F4F;
        border: 1px solid #2F4F4F;
        color: #FFFFFF;
        padding: 0% 5.4%;
        top: 7%;
        width: 29.1%;
      }
      
      #header{
        position: absolute;
        top: 5%;
        border-width: 100%;
        -moz-user-select: none;
      }
      #footer{
        position: absolute;
        bottom: 0%;
        height: 43px;
        width: 100%;
        left: 0%;
        background: url("../images/footer.gif") repeat-x scroll center top black;
        padding: 30px 0 0;
      }
      #horizontal_line{
        position: absolute;
        height: 0%;
        left: 0%;
        top: 10%;
        width: 100%;
        border-bottom: 1px solid green;
      }
 
      .app_name{
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 15px;
        padding: 2px 0 10px;
        color: #336699;
        text-indent: 0;
        margin-left: 68%;
        top: 5%;
      }
      body {
        background-color: #82EFFF;
        background-image: url("../images/bg.jpg");
        background-repeat: repeat-x;
        margin: 0;
      }
      #content{
        position: absolute;
        width: 70%;
        clear: both;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin-left: 15%;
        height: 100%;
        background-color: white;
      }


      #logout{
        position: absolute;
        background: url("../images/four.gif") repeat-x scroll 0 0 #3C3C3C;
        border-radius: 8px 8px 8px 8px;
        color: #FEFEFE;
        display: inline-block;
        font-size: 19px;
        letter-spacing: -1px;
        line-height: 1.5em;
        padding: 9px 20px 11px;
        right: 2%;
        margin-top: -2%;
        z-index: 1;
      }

      #menu{
        -moz-user-select: none;
        margin-top: 1%;
        margin-left: 60%;
      
      }
      #active_tab{
        border-bottom: 4px solid green;
      }
      .roster, .nurses, .users, .settings, .home{
        cursor:  pointer;
        font: smfontall-caps 18px Georgia, sans-serif;

      }

      #inner_content{
        margin-top: 10%;
        margin-left: 10%;
      }

      .icon{
        cursor: pointer;
      }
      .caption{
         cursor: pointer;
      }

      #shield, #shield_two{
      position: absolute;
      background-color: black;
      width: 100%;
      height: 100%;
      left: 0%;
      top: 0%;
      z-index: 10;
      opacity: 0.87;
    }
    #shield_two{
      z-index: 12 !important;
      opacity: 0.20 !Important;
    }

    #create_roster_menu, #create_csv_menu{
      z-index: 11;
      position: absolute;
      height: 44%;
      width: 60%;
      top: 20%;
      background-color: white;
      left: 20%;
      border-bottom: 3px solid silver;
    }

    #create_roster_header, #create_csv_header{
      background-color: gray;
      height: 50px;
      width: 100%;
      position: absolute;
      left: 0%;
      border-bottom: 2px solid black;
    }

    #create_roster_content, #create_csv_content{
      position: absolute;
      z-index: 11;
      top: 30%;
      width: 100%;
    }

    #create_roster_content input{
      border: 1px solid black;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      font-weight: bold;
      float: left;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 14px;
      line-height: 0.5em;
      margin: 0;
      padding: 5px;
      width: 105.5%;
    }
    
    #create_roster_footer{
      background-color: gray;
      height: 50px;
      width: 100%;
      position: absolute;
      width: 100%;
      position: absolute;
      bottom: 0px;
    }

    #input_label {
      font: 18px Georgia, casans-serif;
    }

    #cancel_button{
      background-color: #FFFFFF;
      border: 1px solid #EDEBEB;
      left: 2%;
      padding: 1.5% 43%;
      position: absolute;
      text-decoration: none;
      top: 15%;
      cursor: pointer;
    }

    .calendar_icon{
      cursor: pointer;
    }

    #create_nurse_menu{
      z-index: 11;
      position: absolute;
      height: 75%;
      width: 90%;
      top: 12%;
      background-color: white;
      left: 5%;
      border-bottom: 3px solid silver;
    }

    #create_nurse_header, #create_user_header{
      background-color: gray;
      height: 50px;
      width: 100%;
      position: absolute;
      left: 0%;
      border-bottom: 2px solid black;
    }

    #create_nurse_content input{
      border: 1px solid black;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      font-weight: bold;
      float: left;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 14px;
      line-height: 0.5em;
      margin: 0;
      padding: 5px;
      width: 65.5%;
    }

    #create_nurse_footer, #create_user_footer{
      background-color: gray;
      height: 50px;
      width: 100%;
      position: absolute;
      width: 100%;
      position: absolute;
      bottom: 0px;
    }

    #save{
      background-color: #FFFFFF;
      border: 1px solid #EDEBEB;
      left: 2%;
      padding: 1.3% 20%;
      position: absolute;
      text-decoration: none;
      top: 8%;
      cursor: pointer;
    }
    #cancel{
      background-color: #FFFFFF;
      border: 1px solid #EDEBEB;
      right: 2%;
      padding: 1.3% 20%;
      position: absolute;
      text-decoration: none;
      top: 8%;
      cursor: pointer;
    }

    #edit_nurse_menu{
      position: absolute;
      width: 100%;
      left: 0%;
      top: 10.3%;
      height: 80%;
    }

    #left_div{
      position: absolute;
      width: 40%;
      border-right: 4px solid #FEF0C9;
      background-color: #F1EDC2;
      left: 0%;
      height: 100%;
      
    }

    #search_input{
      height: 2em;
    }

    #clear_image{
      position: absolute;
      left: 72%;
      top: 3.5%;
    }
    td input{
      /*border: 2px solid #808080;*/
      height: 30px;
      }

      #search_input{
        position: absolute;
        width: 80%;
      }

      #hide_me{
        position: absolute;
        height: 0%;
      }
      
      .fileUpload span{
         border-top: 1px solid #96d1f8;
         background: gray;
         background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
         background: -webkit-linear-gradient(top, gray, #808080);
         background: -moz-linear-gradient(top, gray, #65a9d7);
         background: -ms-linear-gradient(top, gray, #65a9d7);
         background: -o-linear-gradient(top, gray, #65a9d7);
         padding: 2% 12%;
         -moz-border-radius: 15px;
         border-radius: 15px;
         -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
         -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
         box-shadow: rgba(0,0,0,1) 0 1px 0;
         text-shadow: rgba(0,0,0,.4) 0 1px 0;
         color: white;
         font-size: 12px;
         font-family: Georgia, serif;
         position: absolute;
         left: 76%;
         top: -43%;
         cursor: pointer;

      }
      #upfile{
        border: 0px !important;
        padding: 0px !important;
      }

      select{
        background-color: #FFFFFF;
        border: 1px solid;
        height: 7%;
        line-height: 1em;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 66%;
      }

      #create_user_menu{
        z-index: 11;
        position: absolute;
        height: 75%;
        width: 90%;
        top: 12%;
        background-color: white;
        left: 5%;
        border-bottom: 3px solid silver;
      }

      #save_user{
        background-color: #FFFFFF;
        border: 1px solid #EDEBEB;
        left: 2%;
        padding: 1.3% 20%;
        position: absolute;
        text-decoration: none;
        top: 8%;
        cursor: pointer;
      }

      #cancel_user{
        background-color: #FFFFFF;
        border: 1px solid #EDEBEB;
        right: 2%;
        padding: 1.3% 20%;
        position: absolute;
        text-decoration: none;
        top: 8%;
        cursor: pointer;
      }

      #create_user_content input{
        border: 1px solid black;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 0.5em;
        margin: 0;
        padding: 5px;
        width: 65.5%;
      }

      #edit_user_menu{
      position: absolute;
      width: 100%;
      left: 0%;
      top: 10.3%;
      height: 80%;
    }

    #edit_left_div{
      position: absolute;
      width: 40%;
      border-right: 4px solid #FEF0C9;
      background-color: #F1EDC2;
      left: 0%;
      height: 100%;
    }

    #content_header{
      position: absolute;
      height: 20%;
      left: 40.5%;
      top: 0%;
      width: 59.5%;
    }

    #content_header span{
      position: absolute;
      color: white;
      padding: 2% 40%;
      background-color: #7AC5CD;
      font-weight: bold;
      width: 20%;
    }

    #nurse_confirm_menu{
      z-index: 14;
      position: absolute;
      height: 25%;
      width: 33%;
      top: 30%;
      background-color: white;
      left: 35%;
      border-bottom: 3px solid silver;

    }

    #nurse_confirm_header{
      background-color: #838B8B;
      height: 40px;
      width: 100%;
      position: absolute;
      left: 0%;
      border-bottom: 2px solid black;
    }

    #nurse_confirm_content{
      position: absolute;
      top: 30%;
      width: 100%;
    }

    #nurse_confirm_footer{
      background-color: #838B8B;
      height: 40px;
      width: 100%;
      position: absolute;
      width: 100%;
      position: absolute;
      bottom: 0px;
      border-top: 2px solid black;
    }

    #add_nurse{
      background-color: #FFFFFF;
      border: 1px solid #EDEBEB;
      left: 2%;
      padding: 1% 10%;
      position: absolute;
      text-decoration: none;
      top: 14%;
      cursor: pointer;
    }

    #exit{
      background-color: #FFFFFF;
      border: 1px solid #EDEBEB;
      right: 2%;
      padding: 1% 10%;
      position: absolute;
      text-decoration: none;
      top: 14%;
      cursor: pointer;
    }

    </style>
  </head>
  <body onload="loadActiveTab();">
    <div id="shield" style="display: none;">

    </div>
    
    <div id="shield_two" style="display: none;">
    </div>
    <div id="content">
      
      <div id="header">
        <div id="menu">
          <span class="roster" onclick="loadRosterData(this);" onmousedown="setActiveTab(this)">Roster </span>|
          <span class="nurses" onclick="loadNursesData(this)" onmousedown="setActiveTab(this)">Nurses </span>|
          <span class="users" onclick="loadUsersData(this)" onmousedown="setActiveTab(this)">Users </span>|
          <span class="settings" onclick="loadSettingsData(this)" onmousedown="setActiveTab(this)">Settings </span>|
          <span class="home" onclick="loadHomeData(this)" onmousedown="setActiveTab(this)">Home</span>
        </div>
      </div>
      <!--<div class="app_name">
          <span>Nurses Roster System(NRS)</span>
      </div>-->
      <div id="horizontal_line">
      </div>
      <div id="inner_content">
        
      </div>
      
      <div id="footer">
        <div id="logout">
          <span>logout</span>
        </div>
      </div>
    </div>
  </body>
</html>